<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8"></script>
<script href="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" rel="stylesheet"
  crossorigin="anonymous">
<!-- <link rel="stylesheet" type="text/css" href="/DataTables-1.10.21/extensions/Editor-1.9.4/css/editor.bootstrap.css">

<script type="text/javascript" src="/DataTables-1.10.21/extensions/Editor-1.9.4/js/dataTables.editor.js"></script>
<script type="text/javascript" src="/DataTables-1.10.21/extensions/Editor-1.9.4/js/editor.bootstrap.js"></script> -->
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jqc-1.12.4/dt-1.10.21/b-1.6.2/sl-1.3.1/datatables.min.css"/> -->
<!-- <link rel="stylesheet" type="text/css" href="Editor-1.9.4/css/editor.dataTables.css"> -->

<!-- <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jqc-1.12.4/dt-1.10.21/b-1.6.2/sl-1.3.1/datatables.min.js"></script> -->
<!-- <script type="text/javascript" src="Editor-1.9.4/js/dataTables.editor.js"></script> -->
<!-- <link rel="stylesheet" type="text/css" href="DataTables/datatables.min.css"/>
<script type="text/javascript" src="DataTables/datatables.min.js"></script> -->

<style>
  #createRecord {
    float: right;
    margin-left: 20px;

  }

  #main {
    margin-bottom: 20px;

  }
</style>

<body>
  <div id="main">
    <h4>Tamilnadu Covid19 Cases List
      <a href="#exampleModalCenter" id="createRecord" class="btn btn-primary" data-toggle="modal"
        data-target="#exampleModalCenter">Create a New record</a>
      </h2>

  </div>
  <table id="example" class="display nowrap" style="width:100%">
    <thead>
      <tr>
        <th>Id</th>
        <th>RawContent</th>
        <th>CaseNumber</th>
        <th>Age</th>
        <th>Gender</th>
        <th>District</th>
        <th>DeathCause</th>
        <th>AdmittedOn</th>
        <th>DiedOn</th>
        <th>SampleTakenOn</th>
        <th>ResultOn</th>
        <th>BroughtDead</th>
        <th>HomeDeath</th>
        <th>Comorbidity</th>
        <th>Diabetes</th>
        <th>Hypertension</th>
        <th>Kidney</th>
        <th>Heart</th>

        <th>Actions</th>
      </tr>
    </thead>
  </table>

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Create a New Case</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/api/createCase" method="POST">
            <div class="form-group">
              <label class="control-label">RawContent</label>
              <div>
                <input type="RawContent" class="form-control input-lg" name="RawContent" value="">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Age</label>
              <div>
                <input type="Age" class="form-control input-lg" name="Age">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Gender</label>
              <div>
                <input type="Gender" class="form-control input-lg" name="Gender">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">District</label>
              <div>
                <input type="District" class="form-control input-lg" name="District">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">DeathCause</label>
              <div>
                <input type="DeathCause" class="form-control input-lg" name="DeathCause">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>

          </form>
        </div>

      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Create a New Case</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/api/updateCase/:id" method="PUT">
          <div class="form-group">
            <label class="control-label">RawContent</label>
            <div>
              <input type="RawContent" class="form-control input-lg" name="RawContent" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Age</label>
            <div>
              <input type="Age" class="form-control input-lg" name="Age" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Gender</label>
            <div>
              <input type="Gender" class="form-control input-lg" name="Gender" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">District</label>
            <div>
              <input type="District" class="form-control input-lg" name="District" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">DeathCause</label>
            <div>
              <input type="DeathCause" class="form-control input-lg" name="DeathCause" value="">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
</body>


<script>

  $(document).ready(function () {
    $("#a").click(function () {
      $('#exampleModalCenter').modal('show');

    });

    var events = $('#events');

    var oTable = $('#example').removeAttr('width').DataTable({
      "dom": 'Bfrtip',
      "processing": true,
      "serverSide": false,
      "paging": false,
      "searching": false,
      "ordering": true,
      "fixedHeader": true,
      "responsive": true,
      "scrollY": true,
      "scrollX": true,
      "scrollCollapse": true,
      "select": true,
      "ajax": {
        "url": "<%= url %>/api/getCases?limit=10&page=1",
        "type": "GET"
      },
      "columns": [
        { "data": "Id" },
        { "data": "RawContent" },
        { "data": "CaseNumber" },
        { "data": "Age" },
        { "data": "Gender" },
        { "data": "District" },
        { "data": "DeathCause" },
        { "data": "admitted_on" },
        { "data": "died_on" },
        { "data": "sample_taken_on" },
        { "data": "result_on" },
        { "data": "brought_dead" },
        { "data": "home_death" },
        { "data": "comorbidity" },
        { "data": "diabetes" },
        { "data": "hypertension" },
        { "data": "kidney" },
        { "data": "heart" },

        {
          "data": null,
          "className": "center",
          "defaultContent": '<a href="#exampleModalCenter1" data-target="#exampleModalCenter1" data-toggle="modal" class="edit">Edit</a> / <a href="" class="editor_remove">Delete</a>'
        },
      ],
     

    });
  })
    // $("#example").on('click', 'tr', function () {
    //   var Id = table.row(this);
    //   console.log('id', Id)
    // });

//     function editRow ( oTable, nRow )
// {
//     var aData = oTable.fnGetData(nRow);
//     var jqTds = $('>td', nRow);
//     jqTds[0].innerHTML = '<input type="text" value="'+aData[0]+'">';
//     jqTds[1].innerHTML = '<input type="text" value="'+aData[1]+'">';
//     jqTds[2].innerHTML = '<input type="text" value="'+aData[2]+'">';
//     jqTds[3].innerHTML = '<input type="text" value="'+aData[3]+'">';
//     jqTds[4].innerHTML = '<input type="text" value="'+aData[4]+'">';
//     jqTds[5].innerHTML = '[Save]()';
// }

// function saveRow ( oTable, nRow )
// {
//     var jqInputs = $('input', nRow);
//     oTable.fnUpdate( jqInputs[0].value, nRow, 0, false );
//     oTable.fnUpdate( jqInputs[1].value, nRow, 1, false );
//     oTable.fnUpdate( jqInputs[2].value, nRow, 2, false );
//     oTable.fnUpdate( jqInputs[3].value, nRow, 3, false );
//     oTable.fnUpdate( jqInputs[4].value, nRow, 4, false );
//     oTable.fnUpdate( '[Edit]()', nRow, 5, false );
//     oTable.fnDraw();
// }

// $('#example a.edit').on('click', function (e) {
//         e.preventDefault();
 
//         /* Get the row as a parent of the link that was clicked on */
//         var nRow = $(this).parents('tr')[0];
 
//         if ( nEditing !== null || nEditing != nRow ) {
//             /* A different row is being edited - the edit should be cancelled and this row edited */
//             restoreRow( oTable, nEditing );
//             editRow( oTable, nRow );
//             nEditing = nRow;
//         }
//         else if( nEditing == nRow || this.innerHTML == "Save" ) {
//             /* This row is being edited and should be saved */
//             saveRow( oTable, nEditing );
//             nEditing = null;
//         }
//         else {
//             /* No row currently being edited */
//             editRow( oTable, nRow );
//             nEditing = nRow;
//         }
//     } );

//   })

</script>